{% extends 'brand_profiles/base_template.html' %}
{% load staticfiles %}
{% block main_content %}
		<div class="row">
			<div class="col-lg-24">
				<div class="row">
					<div class="col-lg-3" style="margin-left:25%">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Singapore Management University, Singapore</h4>
								<div class="icon">
								<i class="fa fa-desktop fa-3x"></i>
								</div>
								<p>
								 MAIS (Master of Applied Information Systems)
								</p>
								<p>August 2014</p>
									
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4 style="padding-bottom:20px">University of Pune, India</h4>
								<div class="icon">
								<i class="fa fa-pagelines fa-3x"></i>
								</div>
								<p>
								 BE (Bachelor of Engineering) Mechanical
								</p>
								<p>July 2011</p>
									
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
{% endblock %}