{% extends 'brand_profiles/base_template.html' %}
{% load staticfiles %}
{% block main_content %}
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Singapore Receivables Exchange</h4>
								<div class="icon">
								<i class="fa fa-code fa-3x"></i>
								</div>
								<p>
								 CTO/ Co-Founder
								</p>
								<p>Mar 2015 - Present</p>
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter" style="">
								<h4>Forty Two Labs</h4>
								<div class="icon">
								<i class="fa fa-desktop fa-3x"></i>
								</div>
								<p>
								 Data Science Engineer
								</p>
								<p>Sep 2014 - Feb 2015</p>
								<div style="visibility:hidden;">Hello World!</div>
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter" style="">
								<h4>Wai Technologies</h4>
								<div class="icon">
								<i class="fa fa-pagelines fa-3x"></i>
								</div>
								<p>
								 Tech Lead
								</p>
								<p>Jan 2013 - Jul 2013</p>
								<div style="visibility:hidden;">Hello World!</div>
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter" style="">
								<h4>Quarkk ePublishers</h4>
								<div class="icon">
								<i class="fa fa-edit fa-3x"></i>
								</div>
								<p>
								 Founder
								</p>
								<p>Jun 2012 - Dec 2012</p>
									<div style="visibility:hidden;">Hello World!</div>
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
{% endblock %}